* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}

.maincontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    flex-direction: column;
}

.displaytext {
    text-align: center;

}

.cardhead {
    font-size: 25px;
    font-weight: bold;
    padding: 10px
}

.cards {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    width: 80%;
    margin-top: 50px;
}

.card {
    height: 200px;
    position: relative;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dark {
    margin-top: 20px;
    border-top: 5px solid cyan;
}

.red {
    border-top: 5px solid red;
}

.blue {
    border-top: 5px solid rgb(35, 35, 197);
}

.orange {
    border-top: 5px solid orange;
}

img {
    position: absolute;
    bottom: 10px;
    right: 10px;
}


.row {
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: center;
}

@media (max-width:1250px) {
    .cards {
        width: 100%;
        flex-direction: column;
    }

    .row {
        width: 100%;
        margin-bottom: 20px;
    }
}